.navbar-brand {
	background-image: url('../../assets/logo.png');
	width: 85px;
	height: 54px;
	background-size: 80px;
	background-repeat: no-repeat;
	padding: 10px;
	background-position: center center;
}
