<div class="row h-100 align-items-center">
  <div class="col col-lg-11 center text-center">
    <div *ngIf="spinner" class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div *ngIf="!spinner" class="table-res">
      <table class="table table-bordered table-hover shadow ">
        <thead class="thead-dark">
          <tr>
            <th scope="col" *ngFor="let item of headerTable">{{item}}</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let item of arrProduct">
            <th scope="row">{{(item.data.number | number )}}</th>
            <td>{{item.data.name}}</td>
            <td>{{item.data.date | date: 'dd/MM/yyyy'}}</td>
            <td>{{item.data.sku}}</td>
            <td>{{item.data.weight}}</td>
            <td>{{item.data.height}}</td>
            <td>{{item.data.width}}</td>
            <td>{{item.data.origin}}</td>
            <td>{{item.data.minimum}}</td>
            <td>{{item.data.delay}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
