.table {
	background-color: #fff;
}
.table .thead-dark th {
	color: rgb(68, 194, 66);
}

@media (max-width: 960px) {
	.table-res {
		width: 100%;
		margin-bottom: 15px;
		overflow-y: hidden;
		overflow-x: scroll;
	}
	.table {
		width: 950px;
	}
}
