/* You can add global styles to this file, and also import other style files */
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.vh-88 {
	height: 88vh !important;
}
.center {
	float: none;
	margin: auto;
}
.material-icons {
	vertical-align: middle;
}
body {
	background-color: #ebebeb;
}
